body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

#mainnav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainnav .navbar-brand {
    color: #ea1c2c;
}

#mainnav .nav-link {
    color: white;
}

#mainnav .nav-link:hover {
    color: #ea1c2c;
}

#heading-grp span {
    color: #ea1c2c;
}

#heading-grp h1 {
    font-size: 4rem;
}

@media (max-width: 1280px) {
    #heading-grp h1 {
        font-size: 3.3rem;
    }
}